.notifications-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.notification {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.notification-message {
  flex: 1;
  margin-right: 10px;
}

.notification-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.notification button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
